@font-face {
	font-family: FuturaLightCTT;
	src: url(font.ttf);
}

body {
	font-family: FuturaLightCTT;
	background-color: rgba(230, 230, 230);
	background-size: cover;
	background-repeat: no-repeat;
}

br {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

#line {
	background-color: rgba(17, 19, 21, 0.9);
	width: 100%;
	min-height: 50px;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	-webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	z-index: 9999;
	display: block;
	backdrop-filter: blur(1.6px);
}

#backcraft {
	font-size: 28px;
	top: 10px;
	left: -12%;
	display: inline-block;
	text-decoration: none;
	position: relative;
	margin: auto;
	bottom: 0; 
	right: 0;
}

#vk {
	font-size: 22px;
	top: 8px;
	left: 12%;
	margin: auto;
	margin-right: 1.5%;
    position: relative;
	bottom: 0; 
	right: 0;
}

#discord {
	font-size: 22px;
	top: 8px;
	left: 12%;
	margin: auto;
    position: relative;
	bottom: 0; 
	right: 0;
}

#youtube {
	font-size: 22px;
	top: 8px;
	left: 12%;
	margin: auto;
	margin-left: 1.5%;
    position: relative;
	bottom: 0; 
	right: 0;
}

#main {
    margin: auto;
    position: relative;
    top: 100px; 
	left: 0; 
	bottom: 0; 
	right: 0;
	background-color: white;
	width: 680px;
	height: 2080px;
	border-radius: 6px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	padding-top: 25px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 22px;
	margin-bottom: 50px;
}

ol {
	list-style-type: none;
    counter-reset: num;
}

li {
	margin-left: -30px;
	margin-top: 10px;
}

li::before {
    content: counter(num) '. ';
    counter-increment: num;
    color: rgba(44, 225, 44);
    font-weight: bold;
}

#bottom {
	position: absolute;
	margin: auto;
	top: 2100px;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 14px;
	text-align: center;
	color: rgba(100, 100, 100);
	-webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	margin-bottom: 70px;
}

#bottom .border {
	height: 2px;
	width: 640px;
	background-color: rgba(220, 220, 220, 1);
	border: none;
	margin-top: 15px;
	margin-left: 40px;
}

.textlink {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#bottom a {
	text-decoration: none;
	color: rgba(20, 200, 20);
}

#bottom a:hover { text-decoration: underline; }

.link {
	color: white;
	display: inline-block;
	text-decoration: none;
	position: absolute;
	white-space: nowrap;
	transition: 0.2s all;
}

.link:hover {
	text-shadow: 0px 0px 10px rgba(50, 250, 50, 0.5);
	color: rgba(55, 255, 55);
}


.border {
	height: 1.5px;
	width: 640px;
	background-color: rgba(220, 220, 220, 1);
	border: none;
	margin-left: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}

.fab.fa-vk { font-size: 19px; }

.fab.fa-discord { font-size: 17px; }

.fas.fa-book { font-size: 17px; }

::selection {
	background: rgba(50, 250, 50);
	color: white;
}
::-moz-selection {
	background: rgba(50, 250, 50);
	color: white;
}

::-webkit-scrollbar { width: 3.5px; height: 3px;}

::-webkit-scrollbar-track {  background-color: #999;}

::-webkit-scrollbar-track-piece { background-color: #ffffff;}

::-webkit-scrollbar-thumb { 
	height: 30px; 
	background-color: rgba(22, 220, 22); 
}

::-webkit-scrollbar-thumb:hover { background-color: rgba(22, 180, 22); }

::-webkit-scrollbar-thumb:active { background-color: rgba(22, 150, 22); }

::-webkit-scrollbar-corner { background-color: #999;}}

::-webkit-resizer { background-color: #666;}
